@font-face {
    font-family: fuente;
    src: url(font/Penguin-Regular.ttf);
}
@font-face {
    font-family: fuenteDos;
    src: url(font/CAMPUS.ttf)
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    width: 99%;
    height: 4em;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuOculto {
    width: 2em;
    margin-left: 10px;
}
h1 {
     font-family: fuente; 
    font-size: 4em;
    color: white;
}
.contenedorCopa {
    display: flex;
    border: 1px solid black;
    width:15em;
}
.copa {
    width: 20%;
}
main {
    width: 99%;
    height: 80vh;
    display: flex;
    justify-content: center;
}
.jugadores {
    width: 40%;
    height: 90%;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panelJugadores {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#nombreX, #nombreO {
    font-family: fuenteDos;
    font-size: 2em;
}
#puntosX, #puntosO {
    font-size: 4em;
    font-family: fuente;
    color:rgb(54, 6, 99);
}
.tablero {
    width: 40%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: orangered;
}
.casilleros {
    border: 1px solid black;
    margin: 1px;
    width: 32%;
    height: 32%;

}
.fichasTablero {
    width: 80%;
}
.fichas { 
    width: 8em;
}
.cuadro {
    width: 100%;
    height: 100%;
    font-size: 7.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
footer{
    width: 99%;
    background-color: grey;
    display: flex;
    justify-content: center;
}

@media ( max-width:600px)  {
    h1 {
        font-size: 1.3em;
    }
    main {
       flex-direction: column;
       justify-content: center;
       align-items: center;
       border: 1px solid black;
    }
    .tablero {
        width: 80%;
    }
    .jugadores {
        width: 60%;
        height: 30%;
    }
    .XX, .OO {
        width: 60%;
    }
    #nombreX, #nombreO {
        font-size: 1em;
    }
    #puntosX, #puntosO {
        font-size: 2em;
    }
    .fichas {
        width: 1.5em;
    }
}